@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(raleway-ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(raleway.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


.container {
	margin-top: 18rem;
}

.flashes {
	text-align: center;
	border: 1px solid #1EAEDB;
}

footer {
	width: 100%;
	position: absolute;
	bottom: 0;
	height: 1%;
	text-align: center;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

li {
	margin-bottom: 0;
}

details > summary:before {
	content: "▶ ";
}
details[open] > summary:before {
	content: "▼ ";
}

.fakelink {
	color: #1EAEDB;
}
.fakelink:hover {
	text-decoration: underline;
}

.hover {
	background-color: #f1f1f1;
}
