<!doctype html>
<html>
	<head>
		<title>mat2 - web edition</title>
		<link href="{{url_for('static', filename='raleway.woff2') }}" as="font" type="font/woff2" rel="preload">
		<link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}" type="text/css" />
		<link rel="stylesheet" href="{{ url_for('static', filename='skeleton.css') }}" type="text/css" />
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css" />
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
		<script defer src="{{url_for('static', filename='script.js') }}"></script>
	</head>
	<body>
		<div class="container">
			<div class="row">
				{% with messages = get_flashed_messages() %}
				{% if messages %}
				<ul class=flashes>
					{% for message in messages %}
					<li>{{ message }}</li>
					{% endfor %}
				</ul>
				{% endif %}
				{% endwith %}
			</div>

			<section>
				<div class="row">
					<div class="four columns">
						<a href='.'>
							<img class='u-max-full-width' src="{{ url_for('static', filename='logo.png') }}" alt="mat2 logo"/>
						</a>
					</div>
					<div class="eight columns">
						{% block content %}{% endblock %}
					</div>
			</section>

			<footer>
				© <a href='https://dustri.org'>jvoisin</a> - 
				<a href='https://0xacab.org/jvoisin/mat2-web'>source</a> -
				♥
			</footer>
	</body>
